@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Waresoft inc.</h1>
    <p>Забезпечуємо програмним забезпеченням.</p>
</div>

<form method="get" asp-controller="Developers" asp-action="Index">
    <p align="center">
        <input type="submit" class="btn btn-primary btn-lg" style="width:200px" value="Розробники" />
    </p>
</form>

<p align="center">
    <button class="btn btn-primary btn-lg" style="width:200px">Продукти</button>
</p>

<p align="center">
    <button class="btn btn-primary btn-lg" style="width:200px">Покупці</button>
</p>

<p align="center">
    <button class="btn btn-primary btn-lg" style="width:200px">Замовлення</button>
</p>

<p align="center">
    <button class="btn btn-primary btn-lg" style="width:200px">Запити</button>
</p>

<p align="center">
    <button class="btn btn-primary btn-lg" style="width:200px">Довідка</button>
</p>