@model Query

@{
    ViewData["Title"] = "Запити";
}

<h1>Запити</h1>
<hr />

<h3>Прості</h3>
<p style="font-size:15px">
    <b>Запит 1</b>
    <br />
    Знайти середню вартість програмних продуктів розробника на ймення P.
</p>
<div class="row">
    <div class="col-md-4">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <form asp-action="SimpleQuery1">
            <div class="form-group">
                <label class="control-label">Ім'я розробника Р</label>
                <select asp-for="DevName" asp-items="@ViewBag.DevNames" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Надіслати" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>